<div class="container">
  <header class="header">
    <div class="top__bar">
      <div class="top__bar--items">
        <div class="top__bar--item">
          <img src="assets/images/svgs/time.svg" alt="Clock Icon">
          <span>24/7 Always Open</span>
        </div>
        <div class="top__bar--item">
          <img src="assets/images/svgs/Phone.svg" alt="Phone Icon">
          <span>(+1) 888 687 4420</span>
        </div>
        <div class="top__bar--item">
          <img src="assets/images/svgs/Mail.svg" alt="Email Icon">
          <span>info@dummywebsite.com</span>
        </div>
      </div>
      <div class="top__bar--buttons">
        <button class="btn btn--signup">Login Or Signup</button>
        <button class="btn btn--order-now">Order Now</button>
      </div>
    </div>
    <div class="hero__section">
      <nav class="nav">
        <img src="assets/images/logo.png" alt="logo" class="nav__logo" id="logo" />
        <ul class="nav__links">
          <li class="nav__item">
            <a class="nav__link" href="#">Writes</a>
          </li>
          <li class="nav__item">
            <a class="nav__link" href="#">Sample</a>
          </li>
          <li class="nav__item">
            <a class="nav__link" href="#">Pricing</a>
          </li>
          <li class="nav__item">
            <a class="nav__link" href="#">FAQs</a>
          </li>
          <li class="nav__item">
            <a class="nav__link" href="#">Reviews</a>
          </li>
          <li class="nav__item">
            <a class="nav__link" href="#">Why Us</a>
          </li>
          <li class="nav__item">
            <a class="nav__link" href="#">Blog</a>
          </li>

        </ul>
      </nav>
      <div class="header__title">
        <h2>Essay Blues? We sing a different <br>
          tune and write it for you.</h2><br>
        <button class="btn btn-order">Order Now</button>

      </div>

      <div class="hero__section--properties">
        <div class="props">
          <div class="icon">
            <img src="../../assets/images/svgs/pen.svg" alt="">
          </div>
          <div class="text">
            <h4>250+</h4>
            <h6>Academic Writing <br> Experts</h6>
          </div>
        </div>
        <div class="props">
          <div class="icon">
            <img src="../../assets/images/svgs/money-back-guarantee.svg" alt="">
          </div>
          <div class="text">
            <h4>100%</h4>
            <h6>Money back Gurantee <br> Experts</h6>
          </div>
        </div>
        <div class="props">
          <div class="icon">
            <img src="../../assets/images/svgs/pgf.svg" alt="">
          </div>
          <div class="text">
            <h4>100+</h4>
          <h6>Plagiarism Free <br> Content</h6>
          </div>
        </div>
        <div class="props">
          <div class="icon">
            <img src="../../assets/images/svgs/star.svg" alt="">
          </div>
          <div class="text">
            <h4>250+</h4>
            <h6>Prepay Upfront - Half <br> After We Deliver</h6>
          </div>
        </div>
      </div>
    </div>
  </header>
  <main class="main">
    <app-services></app-services>
    <app-features></app-features>
  </main>
  <footer>
    <app-footer></app-footer>
  </footer>
</div>
