<div class="footer">
  <div class="footer__copyright">
    <p>© 2021 All rights reserved</p>
  </div>
    <ul class="footer__links">
      <li>
      <a href="#">Contact Us</a>
      </li>
      <li>
        <a href="#">Privacy Policy</a>
      </li>
      <li>
        <a href="#">Terms & Conditions</a>
      </li>
    </ul>

  <div class="social--links">
    <span>
      <img src="../../assets/images/facebook.png" alt="Facebook logo">
    </span>
    <span>
      <img src="../../assets/images/instagram.png" alt="insta logo">
    </span>
    <span>
      <img src="../../assets/images/twitter.png" alt="twitter logo">
    </span>
    <span>
      <img src="../../assets/images/youtube.png" alt="youtube logo">
    </span>
    <span>
      <img src="../../assets/images/Pinterest.png" alt="Pinterest logo">
    </span>
  </div>
</div>
