<section class="section__features">
  <div class="feature__box">
    <div class="feature__box--inner">
      <img src="../../assets/images/calendar.png" alt="calendar"  class="features__icon">
      <p class="features__text">Deadline Driven</p>
    </div>
    <div class="feature__box--inner">
      <img src="../../assets/images/bus.png" alt="Bus"  class="features__icon">
      <p class="features__text">100% Money back <br> gurantee</p>
    </div>
    <div class="feature__box--inner">
      <img src="../../assets/images/money.png" alt="Money"  class="features__icon">
      <p class="features__text">Prepay 50% Upfront - <br>
        Half after we deliver</p>
    </div>
    <div class="feature__box--inner">
      <img src="../../assets/images/secure.png" alt="secure"  class="features__icon">
      <p class="features__text">No Plagiarism Guranteed <br>
        (Reports Provided)</p>
    </div>
    <div class="feature__box--inner">
      <img src="../../assets/images/Document.png" alt="Document"  class="features__icon">
      <p class="features__text">100% Private and <br> Confidential </p>
    </div>
  </div>
</section>
