<section class="services">
  <h2>Essay writing services <br> we offer</h2>
  <!-- <div class="bg-dotted-top"></div> -->
  <div class="services__card-main">
    <div class="services__card--innner">
      <h4 class="services__card--count">
        1
      </h4>
      <h6 class="services__card--haeding">
        Assignemnts
      </h6>
      <p class="services__card--content">
        All academic and business writing simply has to have absolutely perfect grammar, punctuation, spelling, formatting, and composition. Our experts proofread and edit your project with a detailed eye and with complete knowledge of all writing and style conventions. Proofreading sets any writing apart from “acceptable” and makes it exceptional. We can handle lab reports, academic papers, case study, book reviews and argumentative essays.

      </p>
    </div>
    <div class="services__card--innner">
      <h4 class="services__card--count">
        2
      </h4>
      <h6 class="services__card--haeding">
        Essays
      </h6>
      <p class="services__card--content">
        All academic and business writing simply has to have absolutely perfect grammar, punctuation, spelling, formatting, and composition. Our experts proofread and edit your project with a detailed eye and with complete knowledge of all writing and style conventions. Proofreading sets any writing apart from “acceptable” and makes it exceptional. We can handle lab reports, academic papers, case study, book reviews and argumentative essays.

      </p>
    </div>
    <div class="services__card--innner">
      <h4 class="services__card--count">
        1
      </h4>
      <h6 class="services__card--haeding">
        Assignemnts
      </h6>
      <p class="services__card--content">
        All academic and business writing simply has to have absolutely perfect grammar, punctuation, spelling, formatting, and composition. Our experts proofread and edit your project with a detailed eye and with complete knowledge of all writing and style conventions. Proofreading sets any writing apart from “acceptable” and makes it exceptional. We can handle lab reports, academic papers, case study, book reviews and argumentative essays.

      </p>
    </div>
  </div>

</section>
